@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;900&family=Outfit:wght@500;600&family=Playfair+Display:wght@400&display=swap');


body{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:500;
  letter-spacing: .05;
  line-height:1.5;
}
.first-view{
  height:100vh;
}
.header{
  background: rgba(0,0,0,0.0);
  height: auto;
  position: fixed;
  width: 100%;
  max-width: 1280px;
  inset: 0;
  margin: auto;
  margin-top:2rem;
  z-index: 100;
}
.header-items{
  align-content: center;
  align-items: center;
  background: #ffffff;
  border: solid 1px #000;
  border-radius: 128px;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 6rem;
  width: auto;
  z-index: 0;
  max-width: calc(100% - 60px);
}
.header-item{
  font-family: 'Outfit', sans-serif;
}
.fv-wrapper{
  position:relative;
}
.title-copy{
  position:absolute;
  transform: translateY(50%);
  font-size:10rem;
  padding-left:10vw;
  line-height: 1;
  z-index:10;
  font-family: 'Playfair Display', serif;
}
.background-copy{
  position:absolute;
  top:55vh;
  right:0;
  font-size:10rem;
  line-height: 0.8;
  color:#ebebeb;
  z-index:1;
  text-align: right;
  font-weight:700;
}


.section-title{
  font-size:5rem;
  margin-bottom:5rem;
  font-family: 'Outfit', sans-serif;
  font-weight:600;
}
.container{
  max-width:1080px;
  margin-top:20rem;
  margin-left: auto;
  margin-right: auto; 
}
.about{
  margin-top:15rem;
}

.about-wrapper{
  display:flex;
  justify-content: space-between;
  padding:0 5rem;
}
.about-img{
  border:solid 1px #333;
  height:450px;
}
.introduction{
  margin-left:5rem;
}
.introduction__name{
  display:flex;
  margin:3rem 0;
}
.name{
  font-size:2rem;
}
.sns-icon{
  display:flex;
}
.sns-icons__item{
  width:100%;
}
.introduction__sentence{
  transform:translateY(20%);
}

.skill-wrapper{
  padding:0 6rem;
}
.skill-item{
  margin-bottom:4rem;
}
.skill-title{
  border-bottom:solid 1px #333;
  margin-bottom:3rem;
}
.skill-item-number{
  font-size:1rem;
  margin-right:1rem;
}
.skill-item-content{
  position:relative;
  font-size:3rem;
  font-family: 'Outfit', sans-serif;
  font-weight:500;
}
.skill-item-description__wrapper{
  margin:0 2rem;
}
.tools{
  margin-top:2rem;
  font-size:0.8rem;
  color:#666;
}


.work-wrapper{
  display:flex;
  justify-content: center;
  flex-wrap:wrap
}
.work-items{
  margin:0 3rem;
  margin-bottom:5rem;
}
.work-image{
  margin-bottom:1rem;
}
.work-category{
  margin-bottom:0.5rem;
  color:#666;
}

.Form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1520px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .Form {
    padding-top:5rem;
    margin: 0 3rem;
  }
}
.contact-message__text{
  margin: 5rem 4.5vw 7rem;
}
.Form-Item {
  margin:0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
  }
}
.Form-Item-Input{
  border: 1px solid #333;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  /* width: 100%; */
  max-width: 500px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    margin-left:0;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #333;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 500px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.sp{
  display:none;
}
@media screen and (max-width: 768px) {
  .sp{
    display:block;
  }
}

.button1{
  border:solid 1px #333;
}
.button1__box{
  padding:1rem 4rem;
  letter-spacing: .5em;
}




