@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Outfit:wght@700&family=Playfair+Display:wght@700;900&family=Shippori+Mincho:wght@400;500&display=swap');



body{
  font-family: 'Shippori Mincho', serif;
  font-weight:400;
  color:#7d97b8;
  background-image: url(../img/bg.webp);
  letter-spacing: .05;
  line-height:1.8;
}
.logo{
  padding-left:3rem;
  position:fixed
}
.index-logo{
  padding-top:3rem;
}
.first-view{
  height:100vh;
}

.header-items{
  display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 1.5rem;
    position: fixed;
    right: 1.4rem;
    top: 0;
    writing-mode: vertical-lr;
    z-index: 10;
}
.header-item{
  font-family: 'EB Garamond', serif;
  letter-spacing: 0.04em;
  margin-bottom: 3rem;
  font-size:1rem;
}
.fv-wrapper{
  position:relative;
}
.title-copy{
  position:absolute;
  transform: translateY(50%);
  font-size:10rem;
  padding-left:10vw;
  line-height: 1;
  z-index:10;
  font-family: 'Playfair Display', serif;
}
.background-copy{
  position:absolute;
  top:55vh;
  right:0;
  font-size:10rem;
  line-height: 0.8;
  color: transparent;
  -webkit-text-stroke: 1px rgba(125,151,184,1);
  text-stroke: 1px rgba(125,151,184,0.4);
  z-index:1;
  text-align: right;
  font-family: 'Playfair Display', serif;
  font-weight:700;
}


.section-title{
  font-size:5rem;
  margin-bottom:5rem;
  font-family: 'EB Garamond', serif;
  font-weight:500;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
  .index-logo{
    padding:1.5rem 0 0 1rem;
  }
  .title-copy{
    transform:translateY(100%);
    font-size:5rem;
  }
  .background-copy{
    transform:translateY(50%);
    font-size:3.5rem;
  }
 .header-items{
  top:1rem;
  right:1rem;
 }
 .header-item{
  font-size:0.7rem;
 }
}
.container{
  max-width:1280px;
  margin-top:20rem;
  margin-left: auto;
  margin-right: auto; 
}
.about{
  margin-top:15rem;
}

.about-wrapper{
  display:flex;
  justify-content: space-between;
  padding:0 5rem;
}
.about-img{
  border:solid 1px #7d97b8; 
  height:450px;
}
.introduction{
  margin-left:5rem;
}
.introduction__name{
  display:flex;
  margin:3rem 0;
  align-items: center;
}
.name{
  font-size:2rem;
}
.sns-icon{
  display:flex;
  align-items: flex-end;
}
.sns-icons__item{
  object-fit: cover;
    height: 1.2rem;
    margin: 0 1rem;
    width: auto;
}
.introduction__sentence{
  transform:translateY(20%);
}

@media screen and (max-width: 768px) {
  .container{
    max-width:350px;
    margin-top:15rem;
  }
  .about{
    margin-top:5rem;
  }
  .section-title{
    font-size:3rem;
    margin-bottom:3rem;
  }
  .about-wrapper{
    display:block;
    justify-content: space-between;
    padding:0;
  }
  .introduction{
    margin-left:0;
  }
  .introduction__name{
    display:flex;
    justify-content: space-between;
    margin:2rem 0 0;
  }
  .name{
    font-size:1.6rem;
  }
  .sns-icons__item{
    object-fit: cover;
      height: 1rem;
      margin: 0.5rem;
      width: auto;
  }
}

.skill-wrapper{
  padding:0 6rem;
}
.skill-item{
  margin-bottom:4rem;
}
.skill-title{
  border-bottom:solid 1px #7d97b8;
  margin-bottom:3rem;
}
.skill-item-number{
  font-size:1rem;
  margin-right:1rem;
}
.skill-item-content{
  position:relative;
  font-size:3rem;
  font-family: 'EB Garamond', serif;
  font-weight:400;
  letter-spacing: 0.03em;
}
.skill-item-description__wrapper{
  margin:0 2rem;
}
.tools{
  margin-top:2rem;
  font-size:0.8rem;
  color:#8D8C8C;
}
@media screen and (max-width: 768px) {
  .skill-wrapper{
    padding:0rem;
  }
  .skill-item-content{
    font-size:2rem;
  }
}

.work-wrapper{
  display:flex;
  justify-content: left;
  flex-wrap:wrap
}
.work-items{
  margin:0 2rem;
  margin-bottom:5rem;
}
.work-image{
  margin-bottom:1.5rem;
  object-fit: contain;
}
.work-category{
  color:#8D8C8C;
}



.footer{ 
  text-align: center;
}
.footer-message{
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  .footer-message{
    font-size:2rem;
  }
}




