@charset "UTF-8";

.works-page{
  margin:3rem 5rem;
}
.work-title{
  font-size:2.4rem;
  text-align:left;
}
.work-wrapper{
  color:#333;
}
.contents-wrap{
  text-align: left;
}
.contents-item{
  display:flex;
}
.contents-item__dt:after{
  content:"：";
}
.w-detail-item{
  display:flex;
}
.w-detail-item__dt:after{
  content:"：";
}
.detail{
 border-bottom:solid 1px #333; ; 
}
.link-text{
  font-weight:600;
  border-bottom:solid 1px #333
}
